@font-face {
    font-family: 'OpenSans-Bold';
    src: URL('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: URL('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: URL('../fonts/OpenSans-Italic.ttf') format('truetype');
}
body {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    /*color: #848484;*/
    color:#222d32;
    line-height: 1.5;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0 0 15px 0;
    font-weight: 400;
}
h4 {
    font-size: 16px;
}
h3,h4,b,strong {
    font-weight: 700;
    font-family: 'OpenSans-Bold', sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
small {
    font-size: 10px;
}
.pull-right {
    float: right;
}
/*
#container {
    display: none;
}
#register {
    display: none;
    width: 400px;
    margin: 40px auto;
    text-align: center;
}*/

#main {
    padding: 20px;
}

.content {
    background: #fff;
    margin-bottom: 90px;
}

.back {
    margin-bottom: 10px;
    cursor: pointer;
}

.back span {
    text-transform: capitalize;
    margin: 5px;
}
.back i {
    color: #dd4b39;
    cursor: pointer;
}

a {
    color: #008d4c;
    text-decoration: none;
}
textarea.form-control {
    height: auto;
}
.sfc {
    font-family: 'OpenSans-Bold';
    color: #00acd6;
}
.relative-container > div {
    position: relative;
}
.relative-container .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #bbb;
    cursor: pointer;
}
.blurred-bg {
    background-color: #eee;
}


.logo {
    text-align: center;
    border-right: 1px solid #464646;
    background: #222d32;
    font-family: 'OpenSans-Bold', sans-serif;
}
.logo a {
    letter-spacing: 10px;
    line-height: 27px;
    color: #fff;
    display: block;
    font-size: 14px;
}
.logo a span {
    color: #dd4b39;
}


/* this layout use the "mobile first" approach. As such, the styles below are for mobile, and the media queries are for desktop */

.sidebar,
.footer,
top-menu,
.grid-3-col > div,
.grid-4-col > div {
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}
.box > div {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

/**** user image *****/

.user-image-small {
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}


/**** end user image *****/

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0px -2px 13px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px -2px 13px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px -2px 13px -1px rgba(0, 0, 0, 0.11);
}
.footer,
top-menu {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.footer ul {
    text-align: center;
}
.footer ul li:nth-child(1),
.footer ul li:nth-child(2) {
    border-right: 1px solid;
}
.footer ul li {
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;
}
small.label-red,
small.label-green {
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
}
.label-red {
    background-color: #dd4b39;
}
.label-blue {
    background-color: #00acd6;
}
.label-yellow {
    background-color: #e08e0b;
}
.label-green {
    background-color: #008d4c;
}

/******* end top nav *******/

.banner {
    width: 100%;
}
#tabs {
    width: 100%;
    background: #fff;
}
#tabs section {
    display: none;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #eee;
}
#tabs > input {
    display: none;
}
#tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 20px;
    font-weight: 600;
    font-family: 'OpenSans-Bold', sans-serif;
    text-align: center;
    color: #bbb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

/*#tabs > label span {
    margin-left: 10px;
}*/


/*
#tabs label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

#tabs label[for*='1']:before {
    content: '\f1cb';
}

#tabs label[for*='2']:before {
    content: '\f17d';
}

#tabs label[for*='3']:before {
    content: '\f16b';
}

#tabs label[for*='4']:before {
    content: '\f1a9';
}*/

#tabs > label:hover {
    color: #888;
    cursor: pointer;
}
#tabs > input:checked + label {
    color: #555;
    border: 1px solid #eee;
    border-top: 2px solid #e08e0b;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#tab0:checked ~ #content0,
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10,
#tab11:checked ~ #content11,
#tab12:checked ~ #content12 {
    display: block;
}
@media screen and (min-width: 650px) {
    #tabs label i {
        display: none;
    }
}
@media screen and (max-width: 650px) {
    #tabs label span {
        font-size: 0;
    }
}
@media screen and (max-width: 400px) {
    #tabs label {
        padding: 15px;
    }
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.donate-input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.donate-sc,
.topup-hc,
.topup-ec {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00acd6;
    color: #fff;
    cursor: pointer;
}
.table {
    width: 100%;
    border: 1px solid #eee;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #eee;
}
.table tr td {
    border-right: 1px solid #eee;
}

/***** fund public services *****/

.progress-bar {
    width: 100%;
    border: 1px solid #eee;
    height: 7px;
    margin: 15px 0 20px 0;
}
.progress-bar > div {
    height: 7px;
    background-image: linear-gradient(45deg, #ffc15f 25%, #e08e0b 25%, #e08e0b 50%, #ffc15f 50%, #ffc15f 75%, #e08e0b 75%, #e08e0b 100%);
    background-size: 14.14px 14.14px;
}

/*** end fund public services ****/


/******* Voting **********/


/*** NOTE: maybe create a genreic style for these ***/

.official-search div,
.land-search div {
    display: inline-block;
    margin-right: 10px;
}
.official-search div button,
.land-search div a {
    height: 34px;
    padding: 6px 12px;
    line-height: 22px;
}
.land-search-results ul {
    margin-bottom: 20px;
}
.land-search-results ul li {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.land-search-results img {
    width: 100%;
    height: auto;
}
.terms-of-use {
    margin-bottom: 20px;
}
.terms-of-use li {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

/************** housing ***********/

.housing h3 {
    font-size: 14px;
}
.housing img {
    border: 2px solid #eee;
    margin-bottom: 10px;
}

/*********** wallet ********/

.cards img {
    width: 100%;
}


/****** education **********/

.education i {
    font-size: 50px;
    color: #dd4b39;
}
#tabs.course div label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}
/***** im not sure if these styles are still needed **************/
.answers {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}

.course .radio {
    display: inline-block;
}

.course .radio label input {
    position: relative;
    top: 2px;
    margin-left: 15px;
}
.course-review {
    text-align: center;
}
.course-review span {
    color: #dd4b39;
}

/***********************************************************/


/***** healthcare ********/

.healthcare i {
    font-size: 50px;
    color: #008d4c;
}
.service-provider-img {
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

/*************************/

.plugins img {
    width: 100%;
    overflow: hidden;
    height: 100px;
    display: block;
    text-align: center;
    border: 1px solid #eee;
}
.plugins .plugin-desc {
    height: 150px;
    overflow: hidden;
}

/**************************/

.settings {
    display: none;
}

.breadcrumbs {
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 5px 10px 0 10px;
    border: 1px solid #eee;
    display:none;
}
