* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: URL('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: URL('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: URL('../fonts/OpenSans-Italic.ttf') format('truetype');
}
body {
    font-family: 'OpenSans-Regular';
    color: #848484;
    line-height: 1.5;
    font-size: 14px;
}
#safe-search {
    text-align: center;
    width: 600px;
    margin: 20px auto;
    font-family: 'OpenSans-Regular';
}
#safe-search > div {
    font-family: 'OpenSans-Regular';
    margin-bottom: 20px;
    font-size: 40px;
}
#safe-search input {
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    border: 1px solid #eee;
    width: 100%;
    color: #848484;
    font-size: 30px;
}
h2 {
    margin: 0 0 15px 0;
    color: #848484;
}
.grid-browser-toolbar {
    display: grid;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    grid-template-columns: repeat(14, 1fr);
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    box-shadow: 4px 0px 0px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}
.grid-browser-toolbar > div {
    padding: 0px 5px;
    border-right: 1px solid #eee;
}
.grid-browser-toolbar > div:last-child {
    border-right: none;
}
.grid-browser-toolbar > div.red {
    color: #dd4b39;
    display: block;
    cursor: pointer;
}
.grid-browser-toolbar > div.blue {
    color: #00acd6;
    display: block;
    cursor: pointer;
}
.grid-browser-toolbar > div.yellow {
    color: #e08e0b;
    display: block;
    cursor: pointer;
}
.grid-browser-toolbar .rateYoToolbar {
    padding: 3px 20px;
}
.safe {
    font-family: 'OpenSans-Bold';
    color: #00acd6;
}

.grid-browser-toolbar input {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border: 1px solid transparent;
    color: #848484;
}
#commentsBox {
    display: none;
}
#comments a {
    color: #008d4c;
    text-decoration: none;
}
#comments .post {
    margin: 20px 0;
}
#comments .post > div {
    margin: 15px 0;
}
#comments .post span a {
    font-weight: bold;
}
#comments .user-image-medium {
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}
#comments {
    width: 600px;
    height: 400px;
    overflow: auto;
    padding: 10px;
    color: #848484;
}
#comments .comments-box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #eee;
}
#comments input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
}
#comments .grid-toolbar {
    display: grid;
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    grid-template-columns: repeat(5, 1fr 1fr);
}
#comments .grid-toolbar > div {
    padding: 0px 5px;
    border-right: 1px solid #eee;
}
#comments .grid-toolbar > div:last-child {
    border-right: none;
}
#comments .grid-toolbar > div.red a {
    color: #dd4b39;
    display: block;
}
#comments .grid-toolbar > div.blue a {
    color: #00acd6;
    display: block;
}
#comments .grid-toolbar .rateYoComments {
    /*padding: 3px 20px;*/
    margin-top: 3px;
}
#comments .grid-toolbar input {
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    color: #848484;
}
.user-image-medium {
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}
.user-image-small {
    width: 28px;
    height: 28px;
    display: block;
    border: 1px solid #848484;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}
.user-image-large {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
    border: 2px solid #848484;
    border-radius: 50%;
}
.profile-summary {
    text-align: center;
    color: #848484;
    display: none;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    -moz-box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
    box-shadow: inset 0px 0px 33px -1px rgba(238, 238, 238, 0.47);
}
.profile-summary h4 {
    color: #848484;
}
.profile-summary p {
    margin-bottom: 15px;
}
.btn-red {
    background-color: #dd4b39;
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.rateYo {
    margin: 0 auto 20px auto;
}
